</div> <!-- End Main Container -->

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
<!-- We might not need all these legacy scripts anymore, but keeping utils might be handy -->
<script src="/js/utils.js"></script>
<!-- Legacy scripts removed -->
</body>

</html>